@font-face {
    font-family: "SF UI Text";
    src: url(fonts/sfuitext-regular-webfont.woff2) format("woff2");
     font-weight: normal;
    font-style: normal;;
  }

body {font-family: 'SF UI Text', sans-serif;}

.centeredMaxWidthContainer {max-width: 1024px; margin:auto;}
.logo {font-size: 24px; color: inherit}
.flex{ display: flex;}

.navbar {background-color: #48BF84; color: white; height: 60px}
h2 {margin-bottom: 10px;}

section {margin: 40px auto;}

section.hero {display: flex;}
section.hero img {max-width: 550px;}
section.hero .text {display: flex; flex-direction: column; justify-content: center;}
section.hero .text button {max-width: 200px;}

section.steps div {display: flex; flex-wrap: wrap;}
section.steps div div {flex-direction: column; flex-basis: 0; flex: 1 1 0px; min-width: 400px;}

section.benefits div {display: flex;}
section.benefits div div {flex-direction: column; flex-basis: 0; flex: 1 1 0px; align-items: center; }
section.benefits img {max-width: 200px;}

section.how_to div {display: flex;}
section.how_to div div {flex-direction: column; flex-basis: 0; flex: 1 1 0px; align-items: center;}